{
  "coreThing" : {
    "caPath" : "root.ca.pem",
    "certPath" : "{{ core_name }}.cert.pem",
    "keyPath" : "{{ core_name }}.private.key",
    "thingArn" : "{{ core_arn }}",
    "iotHost" : "{{ iot_host }}",
    "ggHost" : "greengrass.iot.{{ aws_region }}.amazonaws.com",
    "keepAlive" : 600
  },
  "runtime" : {
    "cgroup" : {
      "useSystemd" : "yes"
    }
  },
  "managedRespawn" : false
}
