[
  {% for subscription in subscriptions %}
  {
    "Id": "{{ greengrass_group_name }}-{{ subscription_def_name }}-{{ loop.index }}",
{% if subscription.source_type == 'thing' %}
    "Source": "{{ device_details[subscription.source+'_arn'] }}",
{% endif %}
{% if subscription.source_type == 'function' %}
    "Source": "{{ lambda_details[subscription.source+'_arn'] }}"
{% endif %}
{% if subscription.source_type == 'service' %}
    "Source": "{{ subscription.source }}"
{% endif %}
    "Subject": "{{ subscription.subject }}",
{% if subscription.target_type == 'thing' %}
    "Target": "{{ device_details[subscription.target+'_arn'] }}"
{% endif %}
{% if subscription.target_type == 'function' %}
    "Target": "{{ lambda_details[subscription.target+'_arn'] }}"
{% endif %}
{% if subscription.target_type == 'service' %}
    "Target": "{{ subscription.target }}"
{% endif %}
  }{{ "," if not loop.last else "" }}
  {% endfor %}
]
