# Copyright © 2018 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
[greengrass-core]
172.16.1.51        ansible_connection=ssh        ansible_user=root greengrass_core_id='mygroup1_Core'
172.16.1.52        ansible_connection=ssh        ansible_user=root greengrass_core_id='mygroup2_Core'

[dev]
localhost        ansible_connection=ssh        ansible_user=root

# This is the host to execute AWS commands, just needs AWS CLI.
[greengrass-init]
localhost          ansible_connection=ssh        ansible_user=root

[dev:vars]
name="Developer One"
email=developer1@vmware.com
